:root {
  --fontsize: 20px;
  --shadow: 20px;
  --color: #FF0000;
}

#container {
  width: 100%;
  text-align: center;
}

#title {
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: var(--fontsize);
  color: var(--color);
  text-shadow: 0 0 var(--shadow) #000;
}

#inputscontainer {
  position: absolute;
  top: 100px;
  left: 35%;
  right: 35%;
  border-radius: 15px;
  border: solid 10px blue;
}

.inputtitle {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
}

.inputcontainer {
  width: 100%;
}

.input {
  display: block;
  margin: 10px auto;
}
